/backend/postgres/
/backend/migrations/versions/*
!/backend/app/static/songs/*
!/backend/app/static/songs/.gitkeep
!/backend/app/static/images/album_covers/*
!/backend/app/static/images/album_covers/.gitkeep
!/backend/app/static/images/artist_covers/*
!/backend/app/static/images/artist_covers/.gitkeep
!/backend/app/static/images/song_covers/*
!/backend/app/static/images/song_covers/.gitkeep
!/backend/migrations/versions/.gitkeep
**/__pycache__/

*.mp3
*.png