/backend/postgres/
/backend/migrations/versions/*
/backend/app/static/songs/*

**/__pycache__/

*.mp3
*.png

/backend/app/static/images/*/*
!/backend/app/static/images/album_covers/default.png
!/backend/app/static/images/artist_covers/default.png
!/backend/app/static/images/song_covers/default.png
!/backend/app/static/images/playlist_covers/default.png
!/backend/app/static/images/user_avatars/default.png